 @font-face {
    font-family: LibreFranklin-Black; 
    src: url(../fonts/LibreFranklin-Black.ttf); 
   }

 @font-face {
    font-family: LibreFranklin-BlackItalic; 
    src: url(../fonts/LibreFranklin-BlackItalic.ttf); 
   }

 @font-face {
    font-family: LibreFranklin-Bold; 
    src: url(../fonts/LibreFranklin-Bold.ttf); 
   }

 @font-face {
    font-family: LibreFranklin-BoldItalic; 
    src: url(../fonts/LibreFranklin-BoldItalic.ttf); 
   }

 @font-face {
    font-family: LibreFranklin-ExtraBold; 
    src: url(../fonts/LibreFranklin-ExtraBold.ttf); 
   }

 @font-face {
    font-family: LibreFranklin-ExtraBoldItalic; 
    src: url(../fonts/LibreFranklin-ExtraBoldItalic.ttf); 
   }

 @font-face {
    font-family: LibreFranklin-ExtraLightItalic; 
    src: url(../fonts/LibreFranklin-ExtraLightItalic.ttf); 
   }

 @font-face {
    font-family: LibreFranklin-Italic; 
    src: url(../fonts/LibreFranklin-Italic.ttf); 
   }

 @font-face {
    font-family: LibreFranklin-Light; 
    src: url(../fonts/LibreFranklin-Light.ttf); 
   }

 @font-face {
    font-family: LibreFranklin-LightItalic; 
    src: url(../fonts/LibreFranklin-LightItalic.ttf); 
   }

 @font-face {
    font-family: LibreFranklin-Medium; 
    src: url(../fonts/LibreFranklin-Medium.ttf); 
   }

 @font-face {
    font-family: LibreFranklin-MediumItalic; 
    src: url(../fonts/LibreFranklin-MediumItalic.ttf); 
   }

 @font-face {
    font-family: LibreFranklin-Regular; 
    src: url(../fonts/LibreFranklin-Regular.ttf); 
   }

 @font-face {
    font-family: LibreFranklin-SemiBold; 
    src: url(../fonts/LibreFranklin-SemiBold.ttf); 
   }

@font-face {
    font-family: LibreFranklin-SemiBoldItalic; 
    src: url(../fonts/LibreFranklin-SemiBoldItalic.ttf); 
   }

 @font-face {
    font-family:LibreFranklin-Thin; 
    src: url(../fonts/LibreFranklin-Thin.ttf); 
   }

 @font-face {
    font-family:LibreFranklin-ThinItalic; 
    src: url(../fonts/LibreFranklin-ThinItalic.ttf); 
   }


 @font-face {
    font-family:Lobster-Regular; 
    src: url(../fonts/Lobster-Regular.ttf); 
   }