/*--------------------------------------------------------------
Body
--------------------------------------------------------------*/

.content-area{
     padding: 40px 60px 80px 60px;  
 @media (max-width: 770px) {
       padding:  20px 15px 20px 15px;  
 }
 
}


.fp-content-area{
    padding: 40px 20px 80px 20px; 
    
    
}