.redux-sidebar .redux-group-menu li a {padding: 20px 4px 20px 14px;  border-bottom-color: #A2A2A2;}
.rAds {display: none}
#redux-header {display: none}
.redux-container .redux-group-tab h3 {margin-top: 20px !important; line-height: 2em; border: 1px solid #E7E7E7; padding: 10px 15px; }